//GENERAL VARS
@import './src/assets/sass/scss/_variables.scss';
@import './src/app/pages/system-pages/login/login-page.component.scss';

.sign-up{
    text-align: left;
    color: white;
    padding: 10rem 1rem 1rem 9.6rem;
}
@media screen and (max-width: 992px) {
    .sign-up{
        padding: 3rem 2rem;
    }
}
.pass-box-wrapper{
    position: relative;
}
.pass-box{
    position: absolute;
    left: 5.3rem;
    top: -2.4rem;
    background: white;
    padding: 0.8rem;
    font-size: 0.9rem;
    font-family: Lato;
    color: yellow;
}
.pass-box p{
    color: gray;
    font-size: 0.8;
}
