<!-- WIZARD-NAV -->
<div class="wizard-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-md-4 back">
                <a id="btnBack"><i data-feather="arrow-left" class="arrow-left"></i> Sign up</a>
            </div>
            <div class="col-4 d-none d-md-block text-center">
                <div class="squares-wrapper">
                    <hr class="line">
                    <div [ngClass]="(page==='Personal')?'active':''" class="square sqr-cap s1"></div>
                    <div [ngClass]="(page==='Address')?'active':''"  class="square sqr-cap s2"></div>
                    <div [ngClass]="(page==='Profile')?'active':''"  class="square sqr-cap s3"></div>
                    <div [ngClass]="(page==='Result')?'active':''"   class="square sqr-cap s4"></div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Navbar for Wizard Starts -->
<!-- <div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs nav-fill" id="myTab">
        <div class="liner"></div>
        <li class="active nav-item">
            <a [ngClass]="(page==='Personal')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="personal" data-toggle="tab"
                title="personal">
                <span class="round-tabs one">
                    <i class="ft-user"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Address')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="address" data-toggle="tab" title="address">
                <span class="round-tabs three">
                    <i class="ft-map-pin"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="(page==='Profile')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="profile" data-toggle="tab" title="profile">
              <span class="round-tabs two">
                  <i class="ft-message-square"></i>
              </span>
          </a>
      </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Result')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="result" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <i class="ft-airplay"></i>
                </span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div> -->
<!-- Navbar for Wizard Ends -->
