<!-- Address Tab form Starts -->
<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active">
        <h1 class="wizard-h1">{{title}}</h1>
        <br/>
        <div class='row'>
            <div class='col-sm-12'>

                <div class="form-group">
                    <input placeholder="Search your Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="wizard-input"
                        #search [formControl]="searchControl">
                    <small class="form-text text-muted danger" *ngIf=" (!crewnieAddress.gAdreess['locality']) && (searchControl.dirty || searchControl.touched)">Please specify an existing location!</small>
                </div>

                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>

                <div class="form-group text-center mt-3">
                    <button id="btnWizardBack" uiSref="work" type="button" class="btn btn-raised btn-secondary" (click)="cancel()">
                        <span style="margin-right:10px;">
                            <i class="ft-chevron-left"></i>
                        </span> Previous</button>
                    <button id="btnWizardNext" uiSref="result" type="button" class="btn btn-raised btn-info" [disabled]="!crewnieAddress.gAdreess['locality']"
                        (click)="save()">
                        Next
                        <span style="margin-left:10px;">
                            <i class="ft-chevron-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>
<!-- Address Tab form Ends -->