<!-- BG -->
<div class="bg-wizard"></div>
<!-- COMPONENT -->
<div>
    <!-- WIZARD-NAV -->
    <app-wizard-navbar [backPage]="currentForm.backLink"></app-wizard-navbar>

    <!-- CONTAINER -->
    <div class="col-md-8 offset-md-2">
        <div class="container wizard-box">
            <div class="row">
                <div class="col-12">
                    <div class="board">
                        <!-- Content Area -!-->
                        <div class="tab-content">
                            <!-- Nested view  -!-->
                            <router-outlet></router-outlet>
                        </div>
                        <!-- End Content Area -!-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="next-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="next-div text-right">
                <button type="button" class="btn-next" [disabled]="!currentForm.isValid" (click)="goToNext()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 
//ANTERIOR --- BORRAR HASTA TERMINAR 
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">You're almost ready to start</div>
        </div>
    </div>
    <section id="ngx">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="board">
                        <!-- Navigation Area (Circular Tabs) -!->
                        <app-wizard-navbar></app-wizard-navbar>
                        <!-- End Navigation Area (Circular Tabs) -!->
    
                        <!-- Content Area -!->
                        <div class="tab-content">
                            <!-- Nested view  -!->
                            <router-outlet> </router-outlet>
                        </div>
                        <!-- End Content Area -!->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->