<div class="container-fluid my-profile-div">
	<div class="row">

		<!-- LEFT SIDEBAR -->
		<div class="col-md-2 my-profile">
			<!-- IMG -->
			<div class="row" >
				<div class="col-12 img-wrapper">
					<div class="img-profile-dynamic"></div>
				</div>
			</div>
			<!-- DATA -->
			<div class="row">
				<div class="col-12 databox">
					<h1>Argenis Vega</h1>
					<p>
						Lic. en Diseño Gráfico
						<br>
						CDMX, México
					</p>
				</div>
			</div>
			<div class="row menu-icons">
				<div class="col-4">
					<!-- <i data-feather="user-plus"></i> -->
					<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
				</div>
				<div class="col-4">
					<!-- <i class="icon-people icons"></i> -->
					<a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>
				</div>
				<div class="col-4">
					<!-- <i class="icon-mail icons"></i> -->
					<a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
				</div>
			</div>
			<!-- HR -->
			<div class="row">
				<hr>
			</div>
			<!-- MENU -->
			<div class="row menu-side">
				<div class="item active">
					<a href="#">Portfolio</a>
				</div>
				<div class="item">
					<a href="#">Profile</a>
				</div>
				<div class="item">
					<a href="#">Rentals</a>
				</div>
			</div>
		</div>





		<!-- CONTENT -->
		<div class="col-md-8 my-profile-content">
			<div class="row">
				<div class="col-12 header">
					<div class="img-wrapper">
						<img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile in-top" alt="Profile Image">
					</div>
				</div>
				<div class="col-12 social-icons">
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="row name-place">
				<div class="col-12 ">
					<h1>Argenis Vega, 33 </h1>
					<p>
						B. A. Graphic Design
						<br>
						CDMX, México 
					</p>
				</div>
			</div>
			<div class="row basic-info">
				<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of items">
					<span>Item:</span>
					<p>Texto con información</p>
				</div>
			</div>
			<div class="row">
				<hr>
			</div>
			<div class="bio">
				<h1>Bio...</h1>
				<p>				
					According to the research ﬁrm Frost & Sullivan, the estimated size of the North American used test and measurement equipment market was $446.4 million in 2004 and is estimated to grow to $654.5 million by 2011. For over 50 years, companies and governments have procured used test and measurement instruments in order to realize a number of beneﬁts including the need to:
					<br><br>– reduce equipment acquisition costs,
				</p>
			</div>
			<div class="row">
				<hr>
			</div>
			<div>
				<h1>Certiﬁcations</h1>
				<div class="certifications">
					<div class="item" *ngFor="let certification of certifications">
						<img src="https://i.imgur.com/2OdMUz0.jpg" class="" alt="Certification">
						Certification
					</div>
				</div>
			</div>
			<div class="row">
				<hr>
			</div>
			<div>
				<h1>Endorsements</h1>
				<div class="container-fluid endorsements" *ngFor="let certification of certifications">
					<div class="row" For="let certification of certifications">
						<div class="col-md-3">
							<div class="skill">
								Skill
							</div>
						</div>
						<div class="col-md-4 endorsements-images">
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
							<a href="#"><img src="https://i.imgur.com/m5z1oiP.jpg" class="img-profile" alt="Profile Image"></a>
						</div>
						<div class="col-md-5 description">
							<a href="#"><b>Leila Stevens</b></a> <b>and 7 crewnies</b> have given endorsements for this skills.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 view-more">
					<a href="#">View 43 more</a>
				</div>
			</div>
		</div>




		<!-- RIGHT SIDEBAR -->
		<div class="col-md-2">
			<a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" data-height="900">Tweets by TwitterDev</a>          
		</div>
	</div>
</div>
