<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-img overlap">
                        <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Login</h2>
                            <form (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control purple" name="inputEmail" id="inputEmail" placeholder="Email" #inputEmail="ngModel" ngModel required email>
                                    </div>
                                </div>
                                <small class="form-text nmt-3 mb-3" [ngStyle]="{'color': '#FFBFC3'}"  *ngIf="!inputEmail.valid && (inputEmail.dirty || inputEmail.touched)"> Please enter a valid email! </small>
  
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control purple" name="inputPass" id="inputPass" placeholder="Password" ngModel required minlength="6">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                <input type="checkbox" name="ckeckRemember" id="ckeckRemember" #ckeckRemember="ngModel" class="custom-control-input" ngModel checked>
                                                <span class="custom-control-indicator ml-4"></span>
                                                <span class="pl-2">Remember Me</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-pink btn-block btn-raised" [disabled]="!f.valid">Submit</button>
                                        <a class="btn btn-secondary btn-block btn-raised" routerLink="/">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left"><a routerLink="/forgotpassword">Recover Password</a></div>
                        <div class="float-right"><a routerLink="/register">New User?</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->